<div id="dialog">
  <mat-card>
    <mat-toolbar color="primary">
      <span>Edit Task</span>
      <span class="example-spacer"></span>
      <mat-icon class="closeIcon" mat-dialog-close>close</mat-icon>
    </mat-toolbar>

    <!-- input data is hear -->

    <form class="example-form">
      <mat-form-field style="width: 100%" appearance="fill">
        <mat-label>Edit Task</mat-label>
        <input name="text" matInput [(ngModel)]="editedText" />
      </mat-form-field>
      <div class="btnCover">
        <button
          mat-raised-button
          color="primary"
          [mat-dialog-close]="editedText"
          class="flot-right"
        >
          Submit
        </button>
      </div>
    </form>

    <!-- input data is hear -->
    <h1>{{ myData | json }}</h1>
  </mat-card>
</div>
