.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
mat-card {
  width: 90%;
  margin: auto;
}

mat-form-field {
  width: 100%;
}
.taskCover {
  font-size: 15px;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  &:hover {
    background-color: #ccc;
    border-radius: 5px;
  }
}
.timing {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .deleteIcon {
    cursor: pointer;
  }
}
#emojisContainer {
  position: absolute;
  right: -34px;
  top: 43px;
  display: none;
}
