<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >search</mat-icon
    >
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >logout</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>

<mat-card style="width: 100%">
  <mat-form-field appearance="outline">
    <mat-label>Please Add Task</mat-label>
    <input
      matInput
      placeholder="Your Task"
      [(ngModel)]="inputData"
      (keydown.enter)="createTask()"
    />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
  </mat-form-field>

  <div class="task">
    <div class="container-fluid">
      <div class="row taskCover" *ngFor="let task of data; let index = index">
        <div class="col-6">{{ task.taskTtle }}</div>
        <div class="col-6 timing">
          {{ task.timing }}
          <span class="deleteIcon">
            <mat-icon (click)="openDialog(index)">edit</mat-icon> &nbsp;&nbsp;
            <mat-icon (click)="deleteTask(index)">delete</mat-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<h1>{{ editeDdata }}</h1>
